@import 'purecss';
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body, .pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.content {
  padding: 2em 1em 0;
}

h1 {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
  }

  .home-menu {
    text-align: left;

    ul {
      float: right;
    }
  }
}

